{% extends 'admin/base.html.twig' %}

{% block title %}Admin - Demdandes{% endblock %}

{% block body %}

<main class="flex flex-col items-center text-center mt-24 px-4">
    <h1 class="text-2xl font-bold text-center mb-6 text-white dark:text-gray-900 animate__animated animate__fadeInUp">
        Demandes de transactions
    </h1>
    <div class="overflow-x-auto w-full max-w-5xl max-h-[60vh] rounded-lg shadow-lg animate__animated animate__fadeInUp animate__delay-0.5s">
        <table class="w-full border-collapse border border-gray-300 dark:border-gray-700 shadow-lg rounded-lg overflow-hidden text-sm sm:text-base">
            <thead class="bg-gray-900 text-white dark:bg-gray-700">
                <tr>
                    <th class="p-3 sm:p-4 border border-gray-500">Utilisateur</th>
                    <th class="p-3 sm:p-4 border border-gray-500">Montant</th>
                    <th class="p-3 sm:p-4 border border-gray-500">Type d'opération</th>
                    <th class="p-3 sm:p-4 border border-gray-500">Actions</th>
                </tr>
            </thead>
            <tbody class="bg-white text-black dark:bg-gray-200">
                {% for mouvement in mouvements %}
                    <tr class="{% if mouvement.estDepot %}bg-green-200{% else %}bg-red-200{% endif %} animate__animated animate__fadeInUp animate__delay-0.5s">
                        <td class="p-3 sm:p-4 border">{{ mouvement.user.prenom }} {{ mouvement.user.nom }}</td>
                        <td class="p-3 sm:p-4 border">{{ mouvement.somme }}</td>
                        <td class="p-3 sm:p-4 border">{{ mouvement.estDepot ? 'Dépôt' : 'Retrait' }}</td>
                        <td class="p-3 sm:p-4 border">
                            {% if mouvement.statut == 'en_attente' %}
                                <a href="{{ path('admin_valider_mouvement', {'id': mouvement.idMouvementSolde}) }}" class="bg-green-700 text-white px-4 py-2 rounded dark:bg-red-500 dark:text-black">Valider</a>
                                <a href="{{ path('admin_refuser_mouvement', {'id': mouvement.idMouvementSolde}) }}" class="bg-red-700 text-white px-4 py-2 rounded dark:bg-red-500 dark:text-black">Refuser</a>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr class="bg-gray-800 hover:bg-gray-700 text-white dark:bg-gray-300 dark:hover:bg-gray-400 dark:text-black">
                        <td class="p-3 sm:p-4 border text-center" colspan="7">Aucun mouvement trouvé.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>

{% endblock %}
