{# templates/profile.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Profil Utilisateur</title>
    </head>
    <body>
        <h1>Bienvenue {{ user.prenom }} {{ user.nom }}</h1>
        <p>Votre solde est : {{ user.solde }}</p>

        <h2>Vos cryptomonnaies :</h2>
        <ul>
            {% for crypto in cryptos %}
                <li>
                    <strong>{{ crypto.crypto.intitule }}</strong>: 
                    {{ crypto.value }}
                </li>
            {% endfor %}
        </ul>
    </body>
</html>
