{# templates/reset_password.html.twig #}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Réinitialisation tentative</title>
    <link rel="stylesheet" href="{{ asset('css/reset_tent.css') }}">
    <link rel="icon" href="{{ asset('images/logo.png') }}" type="image/x-icon">


</head>
<body>
    {# Display flash messages #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="notification {{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    
   {# templates/reset_password.html.twig #}
<form action="{{ path('app_reset_send') }}" method="POST">
    <h2>Réinitialisation tentative</h2>
    <label for="email">Email</label>
    <input type="email" name="email" required placeholder="Entrez votre email">
    
    <label for="password">Mot de passe actuel</label>
    <input type="password" name="password" required placeholder="Entrez votre mot de passe actuel">
    
    <button type="submit">Réinitialiser</button>

    <div class="links">
        <a href="{{ path('app_login') }}">Retour à la connexion</a>
    </div>
</form>

</body>
</html>
